<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Controle de Animais</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Controle de Animais </h1>
        <image src="../imagens/logo.png" ></image> <br>​
        <a href="usuarioCreate"> <button> Cadastrar Usuário</button> </a> ​
        <a href="usuarioList"> <button> Listar Usuários</button> </a>​
        <a href="animalCreate"> <button> Cadastrar animal</button> </a> ​
        <a href="animalList"> <button> Listar animais</button> </a>
        <a href="logout"> <button> Logout</button> </a>​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>