<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Controle de Animais</title>​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Controle de Animais </h1>​​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>