<form action="/animalCreate" method="post" enctype="multipart/form-data"> ​
    Nome: <input type="text" name="nome">​
    <br> <br>​
    Proprietario: <input type="text" name="proprietario">​
    <br> <br>​
    Endereco: <input type="text" name="endereco">​
    <br> <br>
    Tipo: <input type="text" name="tipo">​
    <br> <br>
    Raca: <input type="text" name="raca">​
    <br> <br>
    Imagem Animal: <input type="file" name="imagem">
        ​
    <input type="submit" value="Cadastrar">​
</form>​

​