<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
          <h2>Cadastro do Diretor</h2>
        <form action="/diretorCreate" method="post">  
            Login:  <input type="text" name="login">
            <br> <br>
            Senha:  <input type="password" name="senha">
            <br> <br>
            Pergunta Secreta:  <input type="text" name="pergunta">
            <br> <br>
            Resposta:  <input type="text" name="resposta">
            <br> <br>
            Turma: <input type="text" name="turma">
            <br><br>
            Turno: <input type="text" name="turno">
            <br><br>
            <input type="submit" value="Cadastrar">
         </form>
    </body>
</html>